<div class="container">
    <mat-form-field>
        <input matInput placeholder="Name" name="name" [(ngModel)]="this.customer.selected.name" required [ngModelOptions]="{standalone: true}">
        <mat-error *ngIf="null">
            Name <strong>requerido</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Amount" name="amount" [(ngModel)]="this.customer.selected.amount">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Price" name="price" [(ngModel)]="this.customer.selected.price">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSaveForm()">
         <mat-icon>save</mat-icon> save
    </button>
</div>